<div class="todoapp">
  <h1 class="todoapp__title">To do list</h1>

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button class="todoapp__toggle-all active"> </button>
      <app-todo-form (saveTodo)="addTodo($event)"></app-todo-form>
    </header>

    <section class="todoapp__main">
      <div *ngIf="loading" class="spinner-wrapper">
        <mat-spinner class="mat-spinner" [diameter]="40"></mat-spinner>
      </div>

      <ng-container *ngIf="!loading && (visibleTodos$ | async) as visibleTodos">
        <p class="todoapp__todo-info" *ngIf="!visibleTodos.length">No todos yet!</p>

        <app-todo
          *ngFor="let todo of visibleTodos; let todoIndex = index; trackBy: trackById"
          [todo]="todo"
          (deleteTodo)="deleteTodo(todo.id)"
          (toggleTodo)="toggleTodo(todo)"
          (renameTodo)="renameTodo(todo, $event)"
        ></app-todo>
      </ng-container>
    </section>

    <footer class="todoapp__footer">
      <span class="todo-count">
        {{ activeCount$ | async }} items left
      </span>

      <app-todo-filter></app-todo-filter>

      <button 
        class="todoapp__clear-completed"
        (click)="clearCompletedTodos()"
      >
        Clear completed
      </button>
    </footer>
  </div>

  <p class="todoapp__info">Double-click to edit a todo</p>

  <app-message></app-message>
</div>
